@primary-color: #007bff;

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

.charCon {
    margin-top: 30px;
}

.redText {
    color: #d71025;
}

.mt20 {
    margin-top: 20px;
}